body {
    background:linear-gradient(to bottom,#ffffff,#eee); /* White background color */
    color: #666666;             /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    background-attachment: fixed;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
}

#homehero {
    height: 300px;
    background-image: url('../Image_folder/homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#studenthero {
    height: 300px; /* 300px */
    background-image: url('../Image_folder/studenthero.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}
#facultyhero {
    height: 300px; /* 300px */
    background-image: url('../Image_folder/facultyhero.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

/* Styles for the header element */
header {
    background-color: #003058; 
    color: #FFFFFF;            
    font-family: Georgia, serif; 
}

/* Descendent selector for header h1 */
header h1 {
    background-image: url('../Image_folder/utahtechlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
    line-height: 140%; 
    padding: 0.5rem;   
    }

/* Styles for the nav element */
nav {
    background-color: #f3f3f3; /* Light-gray background color */
    font-weight: bold;         /* Bold text */
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

/* Styles for the h2 element */
h2 {
    color: #424242;           /* Medium-gray text color */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
}
h3 {
    color: #003058;
    font-weight: bold;           /* Medium-gray text color */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
}

/* Styles for the dt element used on students page */
dt {
    color: #003058;  /* Text color */
    font-weight: bold; /* Bold font */
}

/* Styles for the class named .ut */
.ut {
    color: #BA1C21; /* Text color */
    font-weight: bold; /* Bold font */
}


/* Styles for the footer element */
footer {
    font-size: 0.70rem; /* Small font size */
    font-style: italic; /* Italic text */
    text-align: center; /* Centered text */
    padding: 1rem;
}


#wrapper {
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
    width: 80%;        
    margin-right: auto; 
    margin-left: auto;  
}

