/*
can use a div to for the floater section.  ALso
*/
body{
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 100px repeat(3, 200px) 100px 1fr;
    grid-template-rows: 150px 1fr repeat(3, 2fr) 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("../web-media/background-flow.jpg");
}
#wrapp{
    grid-template-rows: 150px 1fr repeat(3, 1.5fr) 100px;
}

#blackbar{
    grid-column: 1/-1;
    grid-row: 1 / 2;
    background-color: rgba(0, 0, 0, .89);
    position: sticky;
    z-index: 100;
    top: 0;
}
#darkback{
    grid-column: 3/-3;
    grid-row: 1 / -1;
    z-index: 5;
    background-color: rgba(0, 0, 0, .30);

}

header{
    grid-column: 2 / -2;
    grid-row: 1 / 2;
   
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
}
header div{
    grid-column: 2/-2;
    padding-right: 1 rem;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
header h1{
    font-size: 48px;
    text-shadow: 
        -1px -1px 0 black,  /* Top left */
         1px -1px 0 black,  /* Top right */
        -1px  1px 0 black,  /* Bottom left */
         1px  1px 0 black;  /* Bottom right */
    letter-spacing: 0px;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 1px;
    padding-bottom: 0px;
}
header h2{
    font-size: 24px;
    letter-spacing: 0px;
    text-shadow: 
        -1px -1px 0 black,  /* Top left */
         1px -1px 0 black,  /* Top right */
        -1px  1px 0 black,  /* Bottom left */
         1px  1px 0 black;  /* Bottom right */
    padding-right: 50px;
    margin-top: 0px;
}

header img{
    grid-column: 2/-2;
    float: left;
    padding-left: 0rem;
    height: 150px;
    width: 150px;
}
nav{
    display: flex;
    margin: 3px;
    padding-right: 1rem;

}

nav a{
    padding: 10px 10px;
    border-radius: 5px;
    cursor: grabbing;
    color: azure;
    text-decoration: none ;
    background-color: rgba(128, 128, 128, .92);
}

#a1 {
    grid-column: 2/-3;
    grid-row: 2/ 3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
    background-color: rgba(0, 0, 200, .01) ;
    z-index: 6;
    
}
#a1 div, #a3 div{
   
    height: 200px;
    width: auto;
    z-index: 6;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
#a1 img {
    
    float: left;
    height: 200px;
    width: auto;
}
#a3 img{
    height: 400px;
    width: auto;
}

.a2 {
    grid-column: 3/-2;
    grid-row: 3/4;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 100, 100, .01) ;
    color: white;
    text-align: left;

}
.a2 img{
    float: right;
    height: 200px;
    width: auto;

}
#a3 {
    grid-column: 2/-3;
    grid-row: 4/5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
    background-color: rgba(200, 0, 200, .01) ;
    z-index: 15;
  
}
.a4 {
    grid-column: 3/-2;
    grid-row: 5/6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: rgba(100, 100, 200, .01) ;
    z-index: 11;
   
}
.a2 div, .a4 div{
    padding-left: 10px;
    padding-right: 10px;
}
.a4 img{
    height: 300px;
    width: auto;
}
#a4a4 img{
    height: 400px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-color: bisque;
    border: 5px;
    grid-column: 2/-2;
    grid-row: -2/-1;
   
    color: white;
    z-index: 10;
    margin: 0;
}
#contact{
    
    margin-right: 0px;
    margin-left: 10px;
}
#contact a{
    text-decoration: none ;
}
#locat{
 
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#estim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    
}
#estim p{
    margin-bottom: 10px;
}
#copy{
    font-style: italic;
}

#spreaddarkness {
    grid-row: -2/-1;
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .79);
    z-index: 0;
    
}

#heas{
    grid-row: 2/3;
    grid-column: 2/-2;
    z-index: 10;
    text-align: center;
    color: white;
    text-shadow: 
        -1px -1px 0 black,  /* Top left */
         1px -1px 0 black,  /* Top right */
        -1px  1px 0 black,  /* Bottom left */
         1px  1px 0 black;  /* Bottom right */
    padding-top: 50px;
}
#formma{
    height: 1000px;
    width: 600px;

}
#damap{
    padding-top: 10px;
    padding-right: 10px;
    height: 350px;
    width: 400px;
}

#googleform{
    grid-row: 3/-2;
    grid-column: 3/-3;
    z-index: 10;
}
#videoa{
    height: 250px;
    width: auto;
    padding-right: 20px;
}
#washingpic{
    height: 400px;
    width: auto;
    padding-left: 10px;
}


@media screen and (max-width: 800px) {
    .wrapper{
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    }

  
    header, footer, #a1, #a3, .a2 , .a4{
        grid-column: 1/-1;
        
    }
    #darkback{
        grid-column: 1/-1;
        padding-right: 50px;
        padding-left: 50px;
    }

    .a4 {
        grid-row: 5/6;
     
    }

}

@media screen and (max-width: 680px) {
    header{
        background-color: rgba(0, 0, 0, 0.89);
    }
    .wrapper{
        display: flex;
        flex-direction: column;

    }
    nav{
        flex-direction: column;
        margin-bottom: 5px;
    }
    
    #a1,#a3, .a2, .a4{
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 635px) {
    .logo{
        display: none;
    }
.wrapper{
    grid-template-rows: 1fr 2fr repeat(3, 2fr) 1fr;

}

}