body {
    background:linear-gradient(to bottom,#ffffff,#eee); /* White background color */
    color: #666666;             /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    background-attachment: fixed;
    margin: 0;
    grid-row: 2 / 6; /* Span from the 2nd row to the 5th row */
    grid-column: 2 / 8;
    /*new one documentation*/
}
*{
    box-sizing: border-box;
}
form {
    display: grid; /* Apply grid layout */
    grid-template-rows: auto; /* Template rows are auto-sized */
    grid-template-columns: 200px 1fr; /* Two columns: one fixed at 200px, the other flexible */
    gap: 0.75rem; /* Space between grid items */
    width: 100%; /* Make the form span the entire width of the parent */
}
input, textarea {
    font-size: 1rem; /* Font size of 1rem */
    padding: 10px; /* Padding around the content */
    color: #666666; /* Text color */
    background-color: #fafafa; /* Light background */
    
    border: none; /* No border */
}
video {
    
    float: right;
    margin-left: 2em;
    
}

input:focus, textarea:focus {
    outline: none; /* Remove default outline on focus */
    background-color: #f0f0f0; /* Change background color on focus */
}
label {
    padding: 10px; /* Padding for spacing */
    text-align: right; /* Align text to the right */
    
}
#mySubmit {
    width: 10rem; /* Fixed width for the button */
    grid-column: 2 / 3; /* Span from column 2 to column 3 */
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff;
}
#shophero {
    height: 300px;
    background-image: url('../Image_folder/shophero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    /* Add any other similar properties used by other hero elements */
}
#homehero {
    height: 300px;
    background-image: url('../Image_folder/homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}
#bluebar {
    background-color: #003058;
    grid-row: 1/2;
    grid-column: 1/-1;
}
#greybar{
    background-color:#424242;
    grid-row: 2/3;
    grid-column: 1/-1;
}
#studenthero {
    height: 300px; /* 300px */
    background-image: url('../Image_folder/studenthero.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}
#facultyhero {
    height: 300px; /* 300px */
    background-image: url('../Image_folder/facultyhero.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}
#alumnihero {
    height: 300px;
    background-image: url('../Image_folder/alumnihero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

table {
    width: 100%; /* 100% width */
    margin: 0 auto; /* Center the table using margin */
    border: 1px solid #424242; /* Solid gray border (#424242) of 1 pixel */
    border-collapse: collapse; /* Collapse the table borders */
}

/* Style rule for the td and th elements */
td, th {
    padding: 5px; /* 5 pixels of padding */
    border: 1px solid #424242; /* 1 pixel gray border (#424242) */
}

/* Style rule for td elements to center text */
td {
    text-align: center; /* Center the content */
}

/* Style rule for the class "text" to bold the text */
.text {
    font-weight: bold; 
    text-align: left; 
}
/*  alternate color using nth-of-type */
tr:nth-of-type(even) {
    background-color: #F3F3F3; /* Light-gray background for even rows */
}


/* Styles for the header element */
header {
    background-color: #003058; 
    color: #FFFFFF;            
    font-family: Georgia, serif; 
    grid-row: 1 / 2;
    grid-column: 2 / -2;

}

/* Descendent selector for header h1 */
header h1 {
    background-image: url('../Image_folder/utahtechlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
    line-height: 140%; 
    padding: 0.5rem;   
    }
header a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Styles for the nav element */
nav {
    background-color: #424242; /* Light-gray background color */
    position: sticky;
    top: 0; 
    margin: 0;
    padding: 0;
    font-weight: bold;         /* Bold text */
    text-decoration: none;
    grid-row: 2 / 3;
    grid-column: 2 / -2;

}
nav ul {
    margin: 0;                /* Remove margin */
    padding: 0;               /* Remove padding */
    display: flex;            /* Use Flexbox */
    flex-flow: row nowrap;     /* Make it a horizontal row with no wrapping */
    list-style-type: none;     /* Remove bullet points */
}
nav ul li {
    width: 100%;
}
nav a {
    color: #FFFFFF;           /* White text color */
    padding: 1rem 0rem;       /* Padding links */
    display: block;           /*  links block elements */
    text-align: center;       /* Center ext inside */
    text-decoration: none;    /* Remove underlines */
    transition: background-color 0.5s ease-out;
}
nav a:hover {
    background-color: #BA1C21; /* Red background on hover */
}

/* Styles for the h2 element */
h2 {
    color: #424242;           /* Medium-gray text color */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
}
h3 {
    color: #003058;
    font-weight: bold;           /* Medium-gray text color */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
}

/* Styles for the dt element used on students page */
dt {
    color: #003058;  /* Text color */
    font-weight: bold; /* Bold font */
}

/* Styles for the class named .ut */
.ut {
    color: #BA1C21; /* Text color */
    font-weight: bold; /* Bold font */
}

main img {
    float: right;
    padding-left: 2rem;
}

/* Styles for the footer element */
footer {
    font-size: 0.70rem; /* Small font size */
    font-style: italic; /* Italic text */
    text-align: center; /* Centered text */
    padding: 1rem;
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}
#shoppingcart img {
    width: 100%;
    height: auto;
}
#shoppingcart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* optional: adds spacing between items */
}


#wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr) 1fr; 
    /*grid-auto-rows: minmax(0px, auto) ;*/
    grid-template-columns: minmax(0px,1fr) repeat(6,minmax(0,175px)) minmax(0px,1fr);
     
}

@media screen and (max-width: 1100px){
    #wrapper {
        grid-template-columns: minmax(0,auto) repeat(6,minmax(0,150px)) minmax(0,auto);
    }
}

@media screen and (max-width: 900px) {
    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }
    nav ul {
        flex-flow: column nowrap;
      }
      #homehero, #studenthero, #facultyhero, #shophero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }
    video{
        float: none;
        margin: 0;
        width: 100%;
        height: auto;
    }
    main img{
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
    #alumnihero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }
    #shoppingcart {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 600px) {

    /* Update header h1 */
    header h1 {
      background-image: none;
      text-align: center;
    }
    #alumnihero, #shophero {
        display: none; /* Hide the hero image on small screens */
    }
    #shoppingcart {
        grid-template-columns: 1fr;
    }
    
  
    /* Update nav grid layout */
    nav {
      grid-row: 2 / 3;
      grid-column: 1 / -1; /* Span full width (1 to -1 means full grid) */
    }
  
    /* Hide hero elements on mobile */
    #homehero, #studenthero, #facultyhero {
      display: none;
    }
  }